
:root{
    --font-title:"Tilt Warp", sans-serif;
    --font-text:"Poppins", sans-serif;
}

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amarante&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Chicle&family=DM+Serif+Display:ital@0;1&family=Emblema+One&family=Gravitas+One&family=Lilita+One&family=Limelight&family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rozha+One&family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');


.navbar {
  background: linear-gradient(to right, rgba(242, 45, 117, 1) 11%, rgba(255, 173, 59, 1) 94%);
}
a.inicio,
.navbar .offcanvas-title{
color: white;
font-family: 'Poppins', sans-serif;  
}
a.inicio:hover {
  opacity: 0.5;
}
.offcanvas-header{
  background:linear-gradient(to right, rgba(242, 45, 117, 1) 11%, rgba(255, 173, 59, 1) 94%);
  }
.offcanvas-body {
background:rgba(255, 248, 218, 1);
}

body{
  margin: 0;
  padding-top: 70px;
  background-color: #fff8da;
}

h1.title {
    font-family: var(--font-text);
    font-weight: 800;
    font-size:2.7rem;
    color:linear-gradient(to right, rgba(242, 45, 117, 1) 11%, rgba(255, 173, 59, 1) 94%);
    text-align: center;
}

.contacto {
  font-family: var(--font-text);
  font-size: 1.1rem;
  color: #510404;
  text-decoration: none;
}

.contacto:hover {
  text-decoration: underline;
}

.fondo {
  background-color: #fff8da;
  min-height: 100vh;
  padding-top: 4px; 
  justify-content: center;
  align-items: center;
}