:root {
  --font-title: "Tilt Warp", sans-serif;
  --font-text: "Poppins", sans-serif;
}

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amarante&family=Poppins:ital,wght@0,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgba(242, 45, 117, 1) 11%, rgba(255, 173, 59, 1) 94%);}


  .my-navbar {
    background: linear-gradient(to right, rgba(242, 45, 117, 1) 11%, rgba(255, 173, 59, 1) 94%);
  }
  a.inicio :active
  .navbar .offcanvas-title{
  color: white;
  font-family: 'Poppins', sans-serif;  
  }
  a.inicio:hover {
    opacity: 0.5;
  }
  .offcanvas-header{
    background:linear-gradient(to right, rgba(242, 45, 117, 1) 11%, rgba(255, 173, 59, 1) 94%);
    }
  .offcanvas-body {
  background:rgba(255, 248, 218, 1);
  }



h1.title {
  font-family: var(--font-text);
  font-weight: 800;
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-top: 1.25rem;
}

.contacto {
  font-family: var(--font-text);
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
  display: block;

}

.contacto:hover {
  text-decoration: underline;}


.fondo{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(242, 45, 117, 1) 11%, rgba(255, 173, 59, 1) 94%);
}

.icono3 :hover {
  color: #ffffff;
  cursor: pointer;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

  .contacto {
    font-size: 1rem;
  }